<p style="color: green"><%= notice %></p>

<%= render @team %>

<%= turbo_frame_tag :invite_links, src: team_invite_links_path(@team), target: '_top' %>

<div>
  <%= link_to "Edit this team", edit_team_path(@team) %> |
  <%= link_to "Back to teams", teams_path %>

  <%= button_to "Destroy this team", @team, method: :delete %>
</div>
