<%= turbo_frame_tag :herds, src: herds_path, target: '_top' %>
<%= link_to "New herd", new_herd_path %>


<div>
  <h2>Login and verification</h2>
  <%= link_to "Change password", edit_password_path %></br>
  <%= link_to "Change email address", edit_identity_email_path %>
</div>

<div>
  <h2>Access history</h2>
  <%= link_to "Devices & Sessions", sessions_path %>
</div>

<br>

